body {
    
    font-family:sans-serif;
    margin:0;
    padding:0;
    background:#f7f7f7;
    display:flex;
    flex-direction:column;
}

header {

    background-color:  #f44336;
    color:white;
    padding:1em;
    text-align:center;
}


#add-task-btn {
    
    position:fixed;
    bottom:20px;
    right:20px;
    background:#f44336;
    color:white;
    border:none;
    border-radius:50%;
    font-size:2em;
    width:50px;
    height:50px;
    cursor:pointer;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    animation:bounce 1s infinite;
}

.task-item {
    
    background-color:white;
    margin:10px;
    padding:1em;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    
}

.task-info {
    
    display:flex;
    flex-direction:column;
}


.completed {
    
    text-decoration:line-through;
    opacity:0.5;
}

.edit-btn {

    background:none; 
    border:none; 
    font-size:18px; 
    cursor:pointer;
}

input,select,button{
    
    margin:0.5em 0.2em;
    padding:0.4em;
}

@keyframes bounce {
    
    0%,100%{transform:translateY(0);}
    50% {transform:translateY(-10px)}
    
}